In [12]:
import os
import pandas as pd

ospath = "C:/Users/Korisnik/Downloads/competitive-data-science-predict-future-sales/"

sales_data = pd.read_csv(os.path.join(ospath,'sales_train.csv'))
items = pd.read_csv(os.path.join(ospath,'items.csv'))
item_categories = pd.read_csv(os.path.join(ospath,'item_categories.csv'))
shops = pd.read_csv(os.path.join(ospath,'shops.csv'))
test = pd.read_csv(os.path.join(ospath,'test.csv'))
sample_submission = pd.read_csv(os.path.join(ospath,'sample_submission.csv'))

In [8]:
training_data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [13]:
item_categories

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]